{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="p-4 mb-3 bg-light rounded">
    <h4>About</h4>
    <p class="mb-0">Our website is dedicated to cryptocurrencies and provides up-to-date information about various digital coins.
    Here, you will find detailed descriptions, history, unique features,
    and key points about the most popular cryptocurrencies, such as Bitcoin, Ethereum, AAVE, and many more.
    We cover the founding date of each coin, its creators, technological features, and current market data.
    Our resource helps you better understand the world of digital assets
    and make informed decisions when choosing cryptocurrencies for investment or use.
    </p>
</div>
{% endblock %}